@import url('https://fonts.googleapis.com/css?family=Righteous');
@font-face { font-family: Marvin; src: url('MarvinVisionsBig-Bold.woff'); } 

body {
    background-color: black;
    color: white;

}

h1 {
    font-family: 'Marvin';
    font-size: 6em;
    color: white;
    text-align: center;
}

#footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#999;
 }