@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');
@font-face { font-family: Marvin; src: url('MarvinVisionsBig-Bold.woff'); } 

body {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Montserrat';
    padding-bottom: 50px;
}

section {
    display: flex;
    width: 1200px;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap
}

h1 {
    font-family: 'Marvin';
    font-size: 150px;
    color: white;
    text-align: center;
}

h2 {
    font-size: 3em;
}

table, th, td {
    text-align: left;
  }

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: #FFC107;
}


em {
    font-size: 2em;
    
}

img {
    max-width: 100%;
    height: auto;
}

span {
    color: #7C4DFF;
}

.highlight {
    color: #FFC107;
}



 /* *** NAVBAR *** */

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}
  
header li {
    float: left;
}

header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    color: black;
    background-color: #FFC107;
}


header a:hover {
    color: black;
    background-color: #FFC107;
}

/* *** */


#footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#FFC107;
    text-align: right;
}

#footer a{
    color: black;
}

#footer a:hover {
    color: white;
}
